{% load static %}
<section class="section-1">
    <div class="container mrg-top-50">
        <div class="row">
            <div class="col-xs-7 col-md-2">
                <h2>카테고리 1</h2>
            </div>
            <div class="col-xs-5 col-md-offset-8 col-md-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-to-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope row col-3 gutter-sm mrg-top-30">
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
            </div>
        </div>
    </div>
</section>