{% load static %}
<section class="section-1 {% if category_list %}no-pdd-top{% endif %}">
    <div class="container mrg-top-50">
        <div class="row">
            <div class="col-xs-7 col-md-2">
                <h3>인기 콘텐츠</h3>
            </div>
            <div class="col-xs-5 col-md-offset-8 col-md-2 mrg-top-20 text-right">
                <a href="{% url "contents:contents_list_hot" %}" class="btn btn-sm btn-round btn-theme-inverse-to-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope masonry gutter row col-5 mrg-top-30">
                {% for contents in hot_contents %}
                <div class="folio-item">
                    <a href="{% url "contents:contents_detail" contents.id %}">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ contents.image.url }}" alt="{{ contents.category_1 }}">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt="logo"> {{ contents.user.nickname }}</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                {% empty %}
                </div>
                <div class="text-center">
                    <h2>콘텐츠가 없습니다.<br/>
                    새로운 콘텐츠를 등록해 보세요.</h2>
                    <a class="btn btn-sm btn-round btn-theme" href="{% url "contents:contents_create" %}">콘텐츠 등록하러가기</a>
                </div>
                {% endfor %}
        </div>    
    </div>
</section>