{% load static %}
<section class="section-1 no-pdd-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-md-2">
                <h2>인기 콘텐츠</h2>
            </div>
            <div class="col-xs-5 col-md-offset-8 col-md-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-to-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope masonry gutter row col-3 mrg-top-30">
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-26.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-36.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-36.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-33.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-33.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-37.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-37.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-29.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-29.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-38.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-38.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-28.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-28.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-31.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-31.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
            </div><!-- /portfolio-->
        </div>    
    </div>
</section>