{% load static %}
<section class="section-1 no-pdd-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-md-2">
                <h2>인기 콘텐츠</h2>
            </div>
            <div class="col-xs-5 col-md-offset-8 col-md-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-to-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope masonry gutter row col-3 mrg-top-30">
                {% for contents in hot_contents %}
                <div class="folio-item">
                    <a href="{% url "contents:contents_detail" contents.id %}">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ contents.image.url }}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> {{ contents.user.nickname }}</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                {% empty %}
                <h2>콘텐츠가 없습니다.</h2>
                {% endfor %}
        </div>    
    </div>
</section>