<form class="mrg-top-10" action="" method="get">
    <div class="row">
        <div class="col-xs-3 col-sm-2 col-sm-offset-2 pdd-right-5 mrg-top-10">
            <div class="input-label">
                <h5>이름</h5>
            </div>
        </div>
        <div class="col-xs-9 col-sm-6 no-pdd-left mrg-top-10">
            <input type="text" name="name" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-2 col-sm-offset-2 pdd-right-5 mrg-top-10">
            <div class="input-label">
                <h5>이메일</h5>
            </div>
        </div>
        <div class="col-xs-9 col-sm-6 no-pdd-left mrg-top-10">
            <input type="email" name="email" class="form-control" required>
        </div>
    </div>
    <button id="user_create_btn" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
        <h5 style="color: inherit; mrg-vertical-5">ID 찾기</h5>
    </button>
</form>