{% extends "base/base_accounts.html" %}
{% load static bootstrap3 %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <div class="mrg-vertical-80">
        <h3 class="theme-color"><img src="{% static "images/signup.png" %}" width="30" height="40" alt="signup"><br/>
            E-mail Confirm</h3>
        <form class="mrg-top-10" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2 pdd-right-5 mrg-top-10">
                    <div class="input-label">
                        <h5>이메일</h5>
                    </div>
                </div>
                {% bootstrap_field form.email show_label=False show_help=False form_group_class='col-xs-6 no-pdd-left mrg-top-10' %}
            </div>
            <div class="row mrg-top-10">
                <div class="col-xs-8 col-xs-offset-2">
                    <p class="text-dark">
                        회원가입을 완료한 시점에 위의 이메일 주소로 이메일 인증을 위한 링크를 발송했습니다.
                        만약 5분이 지나도 이메일이 오지 않는 경우에는 아래 재발송 버튼을 클릭하시거나 스팸 메일함을 확인하세요.
                    </p>
                </div>
            </div>
            <button id="user_create_btn" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
                <h5 style="color: inherit; mrg-vertical-5">재발송</h5>
            </button>
        </form>
    </div>
</div>
{% bootstrap_form_errors form %}
{% endblock %}

{% block accounts_body_mobile %}
<div class="pdd-vertical-40 pdd-horizon-40 text-center">
    <div class="mrg-vertical-80">
        <h3 class="theme-color"><img src="{% static "images/signup.png" %}" width="30" height="40" alt="signup"><br/>
            E-mail Confirm</h3>
        <form class="mrg-top-10" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-3 col-sm-2 col-sm-offset-2 pdd-right-5 mrg-top-10">
                    <div class="input-label">
                        <h5>이메일</h5>
                    </div>
                </div>
                {% bootstrap_field form.email show_label=False show_help=False form_group_class='col-xs-9 col-sm-6 no-pdd-left mrg-top-10' %}
            </div>
            <div class="row mrg-top-10">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="text-dark">
                        회원가입을 완료한 시점에 위의 이메일 주소로 이메일 인증을 위한 링크를 발송했습니다.
                        만약 5분이 지나도 이메일이 오지 않는 경우에는 아래 재발송 버튼을 클릭하시거나 스팸 메일함을 확인하세요.
                    </p>
                </div>
            </div>
            <button id="user_create_btn" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
                <h5 style="color: inherit; mrg-vertical-5">재발송</h5>
            </button>
        </form>
    </div>
</div>
{% bootstrap_form_errors form %}
{% endblock %}

