{% extends "base/base_accounts.html" %}
{% load static %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <div class="mrg-vertical-130">
        <h3 class="theme-color"><img src="{% static "images/find-pw.png" %}" width="40" height="40" alt="find pw"><br/>
            Forgot your Password?</h3>
        <div class="row mrg-top-50">
            <div class="col-xs-8 col-xs-offset-2">
                <h5 class="text-dark font-weight-bold">
                    이메일로 비밀번호 변경 링크를 보내드렸습니다.<br/>
                    이메일을 확인해 주세요.
                </h5>
            </div>
        </div>
        <a class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" href="{% url "login" %}">
                <h5 style="color: inherit; mrg-vertical-5">로그인</h5>
        </a>
    </div>
</div>
{% endblock %}

{% block accounts_body_mobile %}
<div class="pdd-vertical-40 pdd-horizon-40 text-center">
    <div class="mrg-vertical-130">
        <h3 class="theme-color"><img src="{% static "images/find-pw.png" %}" width="40" height="40" alt="find pw"><br/>
            Forgot your Password?</h3>
        <div class="row mrg-top-50">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h5 class="text-dark font-weight-bold">
                    이메일로 비밀번호 변경 링크를<br/>
                    보내드렸습니다.<br/>
                    이메일을 확인해 주세요.
                </h5>
            </div>
        </div>
        <a class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" href="{% url "login" %}">
                <h5 style="color: inherit; mrg-vertical-5">로그인</h5>
        </a>
    </div>
</div>
{% endblock %}