{% extends "base/base_accounts.html" %}
{% load static bootstrap3 %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <div class="mrg-vertical-80">
        <h3 class="theme-color"><img src="{% static "images/signup.png" %}" width="30" height="40" alt=""><br/>
            Change Password</h3>
        <form class="mrg-top-10" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2 pdd-right-5 mrg-top-10">
                    <div class="input-label">
                        <h5>PW</h5>
                    </div>
                </div>
                {% bootstrap_field form.new_password1 show_label=False show_help=False form_group_class='col-xs-6 no-pdd-left mrg-top-10' %}
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2 pdd-right-5 mrg-top-10">
                    <div class="input-label">
                        <h5>PW cf</h5>
                    </div>
                </div>
                {% bootstrap_field form.new_password2 show_label=False show_help=False form_group_class='col-xs-6 no-pdd-left mrg-top-10' %}
            </div>
            <button class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
                <h5 style="color: inherit; mrg-vertical-5">비밀번호 변경</h5>
            </button>
        </form>
    </div>
</div>
{% endblock %}