{% extends "base/base_accounts.html" %}
{% load static bootstrap3 %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <div class="mrg-vertical-140">
        <h3 class="theme-color"><img src="{% static "images/find-pw.png" %}" width="40" height="40" alt=""><br/>
            Forgot your Password?</h3>
        <form class="mrg-top-10" action="" method="post">
            {% csrf_token %}
            <div class="row mrg-top-10">
                    <div class="col-xs-8 col-xs-offset-2">
                        <p class="text-dark font-weight-bold">
                            가입시 기입한 메일을 입력하시면<br/>
                            비밀번호 변경 링크를 보내드립니다.
                        </p>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2 pdd-right-5 mrg-top-10">
                    <div class="input-label">
                        <h5>E-mail</h5>
                    </div>
                </div>
                {% bootstrap_field form.email show_label=False show_help=False form_group_class='col-xs-6 no-pdd-left mrg-top-10' %}
            </div>
            <button id="user_create_btn" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
                <h5 style="color: inherit; mrg-vertical-5">발송</h5>
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block accounts_body_mobile %}
<div class="pdd-vertical-40 pdd-horizon-40 text-center">
    <div class="mrg-vertical-140">
        <h3 class="theme-color"><img src="{% static "images/find-pw.png" %}" width="40" height="40" alt=""><br/>
            Forgot your Password?</h3>
        <form class="mrg-top-10" action="" method="post">
            {% csrf_token %}
            <div class="row mrg-top-10">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <p class="text-dark font-weight-bold">
                            가입시 기입한 메일을 입력하시면<br/>
                            비밀번호 변경 링크를 보내드립니다.
                        </p>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2 col-sm-offset-2 pdd-right-5 mrg-top-10">
                    <div class="input-label">
                        <h5>이메일</h5>
                    </div>
                </div>
                {% bootstrap_field form.email show_label=False show_help=False form_group_class='col-xs-9 col-sm-6 no-pdd-left mrg-top-10' %}
            </div>
            <button id="user_create_btn" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
                <h5 style="color: inherit; mrg-vertical-5">발송</h5>
            </button>
        </form>
    </div>
</div>
{% endblock %}