{% extends "base/base_accounts.html" %}
{% load socialaccount static bootstrap4 %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <h3 class="theme-color"><img src="{% static "images/signup.png" %}" width="30" height="40" alt=""><br/>
        Register</h3>
    <form class="mrg-top-10" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5">
                <div class="input-label">
                    <h5>ID</h5>
                </div>
            </div>
            {% bootstrap_field form.login_id show_label=False show_help=False form_group_class='col-xs-6 no-pdd-left pdd-right-5' %}
            <div class="col-xs-2 no-pdd-left">
                <div class="input-box-border-all text-center">
                    <input type="radio" name="gender" value="M" required id="id_gender_1">
                    <label id="gender_1_label" for="id_gender_1"><img src="{% static "images/male-before.png" %}" width="30" alt=""></label>
                    <input type="radio" name="gender" value="F" required id="id_gender_2">
                    <label id="gender_2_label" for="id_gender_2"><img src="{% static "images/female-before.png" %}" width="30" alt=""></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>PW</h5>
                </div>
            </div>
            {% bootstrap_field form.password1 show_label=False show_help=False form_group_class='col-xs-8 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>PW 확인</h5>
                </div>
            </div>
            {% bootstrap_field form.password2 show_label=False show_help=False form_group_class='col-xs-8 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>Name</h5>
                </div>
            </div>
            {% bootstrap_field form.name show_label=False show_help=False form_group_class='col-xs-8 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>닉네임</h5>
                </div>
            </div>
            {% bootstrap_field form.nickname show_label=False show_help=False form_group_class='col-xs-8 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>E-mail</h5>
                </div>
            </div>
            {% bootstrap_field form.email show_label=False show_help=False form_group_class='col-xs-8 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>Birth</h5>
                </div>
            </div>
            {% bootstrap_field form.birth_year show_label=False show_help=False form_group_class='col-xs-3 no-pdd-horizon mrg-top-10' %}
            {% bootstrap_field form.birth_month show_label=False show_help=False form_group_class='col-xs-3 no-pdd-horizon mrg-top-10' %}
            {% bootstrap_field form.birth_day show_label=False show_help=False form_group_class='col-xs-2 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" name="is_agreed_1" required id="id_is_agreed_1">
                <label id="is_agreed_1" for="id_is_agreed_1"><img src="{% static "images/male-before.png" %}" width="20" height="20" alt=""></label>
                <span class="font-weight-bold text-dark">이용약관 동의</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" name="is_agreed_2" required id="id_is_agreed_2">
                <label id="is_agreed_2" for="id_is_agreed_2"><img src="{% static "images/male-before.png" %}" width="20" height="20" alt=""></label>
            </div>
        </div>
        <button class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
            <h5 style="color: inherit; mrg-vertical-5">Join</h5>
        </button>
    </form>
</div>
{% bootstrap_form_errors form %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block extrajs %}
<script>
    $('#id_birth_year').addClass('border-left-none');
    $('input:radio[name="gender"]').on('change', function(){
        if($('#id_gender_1').is(':checked')){
            $('#gender_1_label').html('<img src="{% static "images/male.png" %}" width="30" alt="">');
        }
        else{
            $('#gender_1_label').html('<img src="{% static "images/male-before.png" %}" width="30" alt="">');
        }
        if($('#id_gender_2').is(':checked')){
            $('#gender_2_label').html('<img src="{% static "images/female.png" %}" width="30" alt="">');
        }
        else{
            $('#gender_2_label').html('<img src="{% static "images/female-before.png" %}" width="30" alt="">');
        }
    });
    $('input:checkbox[name="is_agreed_1"]').on('change', function(){
        if($('#id_is_agreed_1').is(':checked')){
            $('#is_agreed_1').html('<img src="{% static "images/male.png" %}" width="20" height="20" alt="">');
        }
        else{
            $('#is_agreed_1').html('<img src="{% static "images/male-before.png" %}" width="20" height="20" alt="">');
        }
    });
    $('input:checkbox[name="is_agreed_2"]').on('change', function(){
        if($('#id_is_agreed_2').is(':checked')){
            $('#is_agreed_2').html('<img src="{% static "images/male.png" %}" width="20" height="20" alt="">');
        }
        else{
            $('#is_agreed_2').html('<img src="{% static "images/male-before.png" %}" width="20" height="20" alt="">');
        }
    });
    
</script>
{% endblock %}
