{% extends "base/base_accounts.html" %}
{% load static %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center;">
    <div class="mrg-vertical-80">
        <h3 class="theme-color"><img src="{% static "images/find-id.png" %}" width="40" height="40" alt=""><br/>
            Forgot your ID?</h3>
        {% if not result_step %}
            {% include 'accounts/partials/find_id/find_id_form.html' %}
        {% else %}
            {% include 'accounts/partials/find_id/find_id_result.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block accounts_body_mobile %}
<div class="pdd-vertical-40 pdd-horizon-40 text-center">
    <div class="mrg-vertical-80">
        <h3 class="theme-color"><img src="{% static "images/find-id.png" %}" width="40" height="40" alt=""><br/>
            Forgot your ID?</h3>
        {% if not result_step %}
            {% include 'accounts/partials/find_id/find_id_form.html' %}
        {% else %}
            {% include 'accounts/partials/find_id/find_id_result.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}