{% extends "base/base_accounts.html" %}
{% load socialaccount static %}

{% block accounts_body %}
<div class="login-panel pdd-horizon-15 pdd-vertical-30">
    <h2 class="theme-color text-center">Sign your Account</h2>
    <form action="" method="post" class="row mrg-top-20">
        {% csrf_token %}
        <div class="col-xs-9">
            <div class="row mrg-top-10">
                <div class="col-xs-1 col-xs-offset-3">
                    <img src="{% static "images/logo/logo-3.png" %}" alt="">
                </div>
                <div class="col-xs-8">
                    <input class="form-control" type="text" name="username" autofocus="" maxlength="254" required="" id="id_username">
                    {{ form.username.error }}
                </div>
            </div>
            <div class="row mrg-top-10">
                <div class="col-xs-1 col-xs-offset-3">
                    <img src="{% static "images/logo/logo-3.png" %}" alt="">
                </div>
                <div class="col-xs-8">
                    <input class="form-control" type="password" name="password" required="" id="id_password">
                    {{ form.password.error }}
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <button type="submit">login</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3"> 
        <div class="col-sm-6 text-left">
            <p><a href="{% url "user_create" %}">회원가입</a></p>
        </div>
        <div class="col-sm-6 text-right">
            <p><a href="{% url "find_id" %}">아이디</a> / <a href="{% url "password_reset" %}">비밀번호 찾기</a></p>
        </div>
    </div>
</div>
<div class="row mrg-top-20 mrg-btm-30">
    {% for provider in providers %}
        {% if provider.social_app %}
        <div class="col-xs-2 {% if forloop.first %}col-xs-offset-3{% endif %} text-center">
            <a href="{% provider_login_url provider.id %}">
                <div class="border-top-bottom pdd-vertical-15">
                    <p class="theme-color">
                        login with<br/>
                        {{ provider.name }}
                    </p>
                    <img src="{% static "images/logo/logo-3.png" %}" alt="">
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}