{% extends "base/base.html" %}
{% load static %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-50">
        <div class="row">
            <div class="col-xs-2">
                <h2>카테고리 1</h2>
            </div>
            <div class="col-xs-offset-8 col-xs-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-top-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope row col-3 gutter-sm mrg-top-30">
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
            </div>
        </div>
    </div>
</section>

<section class="section-1 no-pdd-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h2>카테고리 2</h2>
            </div>
            <div class="col-xs-offset-8 col-xs-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-top-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope row col-3 gutter-sm mrg-top-30">
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
            </div>
        </div>
    </div>
</section>

<section class="section-1 no-pdd-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h2>카테고리 3</h2>
            </div>
            <div class="col-xs-offset-8 col-xs-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-top-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope row col-3 gutter-sm mrg-top-30">
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
                <a href="portfolio-single-1.html" class="folio-item web-design">
                    <div class="folio-style-2">
                        <div class="folio-image">
                            <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                        </div><!-- /folio-image -->
                        <div class="row pdd-horizon-30">
                            <div class="col-xs-7">
                                <p>jjungbbinee<br/>
                                #태그</p>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="mrg-top-10">
                                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="">
                                    123
                                </p>
                            </div>
                        </div>
                    </div><!-- folio-style -->
                </a><!-- /folio-item -->
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Start -->
<section class="section-1 no-pdd-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h2>인기 콘텐츠</h2>
            </div>
            <div class="col-xs-offset-8 col-xs-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-top-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope masonry gutter row col-3 mrg-top-30">
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-26.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-36.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-36.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-33.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-33.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-37.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-37.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-29.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-29.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-38.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-38.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-28.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-28.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-31.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-31.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
            </div><!-- /portfolio-->
        </div>    
    </div>
</section>
<!-- Portfolio End -->

<!-- Portfolio Start -->
<section class="section-1 no-pdd-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h2>최근 콘텐츠</h2>
            </div>
            <div class="col-xs-offset-8 col-xs-2 mrg-top-20 text-right">
                <a href="" class="btn btn-md btn-round btn-theme-inverse-top-theme">더보기</a>
            </div>
        </div>
        <div class="row">
            <div class="portfolio isotope masonry gutter row col-3 mrg-top-30">
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-26.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-26.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-36.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-36.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-33.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-33.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-37.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-37.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-29.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-29.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-38.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-38.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-28.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-28.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
                <div class="folio-item">
                    <a href="{% static "images/portfolio/folio-31.jpg" %}" class="lightbox-img">
                        <div class="folio-style-3">
                            <div class="folio-image">
                                <img class="img-responsive" src="{% static "images/portfolio/folio-31.jpg" %}" alt="">
                            </div><!-- /folio-image -->
                            <div class="overlay">								
                            </div><!-- /overlay -->
                            <div class="folio-caption theme-color-bg-opacity">
                                <div class="pull-left">
                                    <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt=""> jjungbbinnee</a></h3>
                                </div><!-- /pull-left -->
                            </div><!-- /folio-caption -->
                        </div><!-- folio-style -->
                    </a>
                </div><!-- /folio-item -->
            </div><!-- /portfolio-->
        </div>    
    </div>
</section>
<!-- Portfolio End -->
{% endblock %}






{% if user.is_authenticated %}
    <a href="{% url "profile" %}">프로필</a>
    <a href="{% url "logout" %}">로그아웃</a>
{% else %}
    <a href="{% url "login" %}">로그인</a>
    <a href="{% url "user_create" %}">회원가입</a>
{% endif %}
<hr/>
<form role="search" action="" method="get">
    <input type="text" placeholder="Search" name="q" value="{{ q }}"/>
    <button type="submit">Go Browse</button>
 </form>
<hr/>
<br/>
<br/>
<hr/>
<br/>
<br/>
{% for contents in contents_list %}
{{ contents.user}} / {{ contents.category_1 }} / {{ contents.category_2 }} / {{ contents.tags }}
<br/>
<hr/>
{% endfor %}
<a href="{% url "contents:contents_list" %}">콘텐츠 목록</a>