{% extends "base/base.html" %}
{% load static %}

{% block nav %}
<div class="wrapper">
    <header id="menu" class="header header-transparent header-sticky">
        <nav class="navbar">
            <div class="container">
                <div class="menu-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="nav-logo">
                        <a class="logo" href="{% url "website:home" %}"><img class="logo-light" src="{% static "images/nav-logo-white.png" %}" alt="VLASOM"></a>
                        <a class="logo" href="{% url "website:home" %}"><img class="logo-dark" src="{% static "images/nav-logo-red.png" %}" alt="VLASOM"></a>
                    </div>                    
                </div>
                <div class="collapse navbar-collapse nav-collapse">
                    <ul class="nav navbar-nav" >
                        <li class="nav-item">
                            <a href="{% url "login" %}">login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "user_create" %}">signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
<!-- Hero Start -->
<section>
    <div class="fs-hero hero-img fixed-bg" style="background-image:url({% static 'images/main.jpg' %})">
        <div class="hero-caption text-white center">
            <img class="wow animated fadeInUp" src="{% static "images/logo-large.png" %}" alt="VLASOM"><br/>
            <img class="no-mrg-top wow animated fadeInUp" data-wow-delay="500ms" src="{% static "images/landing-letter.png" %}" alt="VLASOM">
            <div class="border-4 width-50 mrg-horizon-auto mrg-vertical-30 wow animated fadeInUp" data-wow-delay="800ms"></div>
            <a href="#hot_contents" class="btn btn-lg btn-round btn-theme wow animated fadeInUp slide-trigger" data-wow-delay="1100ms">view more</a>
        </div>
    </div>
</section>
<!-- Hero End -->

<!-- About Start -->
<section class="section-1">
    <div class="container">
        <div class="content-block-1 row">
            <div class="col-md-4">
                <div class="img-style-1 left">
                    <img class="img-responsive no-mobile-parallax" src="{% static "images/landing-1.png" %}" alt="description" data-parallax='{"y": -30}'>
                </div><!-- img-style-1 -->
            </div>
            <div class="col-md-8">
                <div class="text-content-right text-right no-pdd-top">
                    <h2 class="right font-weight-bold mobile-none">소중한 사람과 소중한 순간</h2>
                    <h3 class="right font-weight-bold mobile-only">소중한 사람과 소중한 순간</h3>
                    <div class="border-4"></div>
                    <h3 class="not-width-contraint mrg-top-10 text-dark font-weight-bold mobile-none">사랑하는 연인, 가족, 친구들과의 잊지못할 소중한 순간을<br/>
                    누구보다 특별하게 간직하고 싶다면<br/>
                    <br/>
                    어떤 사진을 남겨야 할까요?</h3>
                    <h4 class="not-width-contraint mrg-top-10 text-dark font-weight-bold mobile-only">사랑하는 연인, 가족, 친구들과의 잊지못할 소중한 순간을<br/>
                    누구보다 특별하게 간직하고 싶다면<br/>
                    <br/>
                    어떤 사진을 남겨야 할까요?</h4>
                </div><!-- /padding -->
            </div>
        </div>

        <div class="content-block-1 row">
            <div class="col-md-8">
                <div class="text-content no-pdd-top">
                    <h2 class="font-weight-bold mobile-none">스쳐지나가는 정보들</span></h2>
                    <h3 class="font-weight-bold mobile-only">스쳐지나가는 정보들</span></h3>
                    <div class="border-4"></div>
                    <h3 class="not-width-contraint mrg-top-10 text-dark font-weight-bold mobile-none">SNS속 무수히 많은 사진찍는 방법들<br/>
                    무심코 흘려 넘겼는데 막상 어디서 찾을지 모르겠다면<br/>
                    <br/>
                    어떻게 구할 수 있을까요?</h3>
                    <h4 class="not-width-contraint mrg-top-10 text-dark font-weight-bold mobile-only">SNS속 무수히 많은 사진찍는 방법들<br/>
                    무심코 흘려 넘겼는데 막상 어디서 찾을지 모르겠다면<br/>
                    <br/>
                    어떻게 구할 수 있을까요?</h4>
                </div><!-- /text-content -->
            </div>
            <div class="col-md-4">
                <div class="img-style-1">
                    <img class="img-responsive no-mobile-parallax" src="{% static "images/landing-2.png" %}" alt="description" data-parallax='{"y": 30}'>
                </div><!-- img-style-1 -->
            </div>
        </div>
    </div>
</section>
<!-- About End -->

<!-- Description Start -->
<section class="section-2 theme-color-bg-opacity">
    <div class="text-center text-white">
        <h1>VLASOM</h1>
        <h1>소중한 순간을 꽃피웁니다</h1>
        <br/>
        <h3>곳곳에 흩어져 있던 다양한 사진 촬영 방법들이 이곳으로 모입니다.<br/>
        그리고 여러분들이 가진 꿀팁들도 서로 공유할 수 있습니다.</h3>
    </div>
</section>
<!-- Description End -->

<!-- Portfolio Start -->
<section class="section-1" id="hot_contents">
    <div class="container">
        <div class="portfolio isotope masonry gutter row col-5 mrg-top-50">
            {% for contents in hot_contents %}
            <div class="folio-item">
                <a id="{{ forloop.counter }}_slide" href="{{ contents.image.url }}" class="lightbox-img"></a>
                <div id="{{ forloop.counter }}" class="folio-style-3 pointer">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ contents.image.url }}" alt="{{ contents.category_1 }}">
                    </div><!-- /folio-image -->
                    <div class="overlay">								
                    </div><!-- /overlay -->
                    <div class="folio-caption theme-color-bg-opacity">
                        <div class="pull-left">
                            <h3 class="folio-tittle"><a class="text-white" href=""><img src="{% static "images/logo-img-overlap.png" %}" alt="logo"> {{ contents.user.nickname }}</a></h3>
                        </div><!-- /pull-left -->
                    </div><!-- /folio-caption -->
                </div><!-- folio-style -->
            </div><!-- /folio-item -->
            <script>
                $('#{{ forloop.counter }}').on('click', function(){
                    $('#{{ forloop.counter }}_slide').trigger('click');
                })
            </script>
            {% endfor %}
        </div><!-- /portfolio-->    
    </div>
</section>
<!-- Portfolio End -->
{% endblock %}

{% block footer %}
<footer class="theme-color-bg section-5">
    <div class="text-center text-white">
        <h1>VLASOM</h1>
        <h1>사진을 꽃피우다</h1>
        <a class="btn btn-lg btn-round btn-theme-inverse mrg-top-20 mrg-right-10" href="{% url "login" %}">로그인</a>
        <a class="btn btn-lg btn-round btn-white-opacity mrg-top-20 mrg-left-10" href="{% url "user_create" %}">회원가입</a>
    </div>
</footer>
{% endblock %}