hr {
  border-color: #c72949;
}
.border-4 {
  height: 4px;
  background-color: #c72949;
}
.btn-sm.btn-round {
  border-radius: 12px;
}
.btn-md.btn-round {
  border-radius: 15px;
}
.btn-lg.btn-round {
  border-radius: 17px;
}
.opacity-50{
  opacity: .5;
}
.btn-white-opacity {
  background-color: #fff;
  color: #c72949;
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
}
.btn-white-opacity:hover,
.btn-white-opacity:focus {
  color: #fff;
  background-color: #cd807e;
}
.btn-theme-inverse-to-theme {
  background-color: #cd807e;
  color: #fff;
}

.btn-theme-inverse-to-theme:hover,
.btn-theme-inverse-to-theme:focus {
  color: #fff !important;
  background-color: #c72949;
}
.border-top {
  border-top: 2px solid #c72949;
}
.border-top-bottom{
  border-top: 2px solid #c72949;
  border-bottom: 2px solid #c72949;
}
.border-all {
  border: 2px solid #c72949;
}
.border-left-none {
  border-left: none !important;
}
.min-height-600 {
  min-height: 600px !important;
}
.min-height-800 {
  min-height: 800px !important;
}
.show { display: block; }
.none { display: none; }
.help-block {
  max-width: 400px !important;
}
@media only screen and (max-width: 993px) {
  .mobile-none {
    display: none !important;
  }
  .text-center-mobile {
    text-align: center !important;
  }
  .text-left-mobile {
    text-align: left !important;
  }
  .text-right-mobile {
    text-align: right !important;
  }
  .mrg-top-5-mobile {
    margin-top: 5px !important;
  }
  .mrg-top-10-mobile {
    margin-top: 10px !important;
  }
  .mrg-top-15-mobile {
    margin-top: 15px !important;
  }
  .mrg-top-20-mobile {
    margin-top: 20px !important;
  }
  .mrg-top-25-mobile {
    margin-top: 25px !important;
  }
  .mrg-top-30-mobile {
    margin-top: 30px !important;
  }
  .mrg-top-35-mobile {
    margin-top: 35px !important;
  }
  .mrg-top-40-mobile {
    margin-top: 40px !important;
  }
  .mrg-top-45-mobile {
    margin-top: 45px !important;
  }
  .mrg-top-50-mobile {
    margin-top: 50px !important;
  }
  .no-pdd-left-mobile {
    padding-left: 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}
.nav-search {
  background: #c72949;
  border-top: 2px solid #cd807e;
  border-bottom: 2px solid #cd807e;
  border-right: 2px solid #cd807e;
  border-left: none;
  color: #fff;
  height: 32px;
  min-width: 200px;
  padding-left: 20px;
}
.btn-clear {
  background: none;
  border: none;
  padding: 0;
}
.profile-wrapper {
  border-radius: 15px;
  overflow: hidden;
}
.profile-wrapper img {
  max-height: 400px;
}
.input-label {
  background: #cd807e;
  height: 46px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.input-label h1,.input-label h2,.input-label h3,.input-label h4,.input-label h5,.input-label h6 {
  margin: 0 !important;
  color: #fff !important;
  line-height: 46px;
}
.input-submit {
  background: #cd807e;
  height: 102px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  width: 100%;
}
.input-submit h1,.input-submit h2,.input-submit h3,.input-submit h4,.input-submit h5,.input-submit h6 {
  margin: 0 !important;
  color: #fff !important;
  line-height: 102px;
}
.input-box {
  border-top: 1px solid #c72949;
  border-right: 1px solid #c72949;
  border-bottom: 1px solid #c72949;
  border-left: none;
  height: 46px;
  padding-left: 14px;
  box-sizing: border-box;
  text-align: left;
}
.input-box h1,.input-box h2,.input-box h3,.input-box h4,.input-box h5,.input-box h6 {
  margin: 0 !important;
  line-height: 46px;
}
.input-box-border-all {
  border: 1px solid #c72949;
  height: 46px;
  line-height: 56px;
  box-sizing: border-box;
  text-align: left;
  padding: 3px;
}
.input-box-border-all div {
  height: 100%;
}
#id_gender_1, #id_gender_2 {
  display: none;
}
#gender_1_label img, #gender_2_label img {
  margin-top: -20px;
}
#id_gender_1_2, #id_gender_2_2 {
  display: none;
}
#gender_1_label_2 img, #gender_2_label_2 img {
  margin-top: -20px;
}
#id_is_agreed_1, #id_is_agreed_2 {
  display: none;
}
#id_is_agreed_1_2, #id_is_agreed_2_2 {
  display: none;
}
.invalid-feedback {
  display: none !important;
}
.max-height-600{
  max-height: 600px;
}
.pointer {
  cursor: pointer;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}