hr {
  border-color: #c72949;
}
.border-4 {
  height: 4px;
  background-color: #c72949;
}
.btn-sm.btn-round {
  border-radius: 12px;
}
.btn-md.btn-round {
  border-radius: 15px;
}
.btn-lg.btn-round {
  border-radius: 17px;
}
.opacity-50{
  opacity: .5;
}
.btn-white-opacity {
  background-color: #fff;
  color: #c72949;
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
}
.btn-white-opacity:hover,
.btn-white-opacity:focus {
  color: #fff;
  background-color: #cd807e;
}
.btn-theme-inverse-to-theme {
  background-color: #cd807e;
  color: #fff;
}

.btn-theme-inverse-to-theme:hover,
.btn-theme-inverse-to-theme:focus {
  color: #fff !important;
  background-color: #c72949;
}
.border-top-bottom{
  border-top: 2px solid #c72949;
  border-bottom: 2px solid #c72949;
}
.border-all {
  border: 2px solid #c72949;
}
.min-height-600 {
  min-height: 600px !important;
}
@media only screen and (max-width: 992px) {
  .mobile-none {
    display: none !important;
  }
}
.nav-search {
  background: #c72949;
  border-top: 2px solid #cd807e;
  border-bottom: 2px solid #cd807e;
  border-right: 2px solid #cd807e;
  border-left: none;
  color: #fff;
  height: 32px;
  min-width: 200px;
  padding-left: 20px;
}
.btn-clear {
  background: none;
  border: none;
  padding: 0;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}