{% extends "base/base.html" %}
{% load static bootstrap3 %}

{% block title %}
    <title>VLASOM :: {{ contents.category_1 }}-{{ contents.id }}수정</title>
{% endblock %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-100">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img class="max-height-600 image_large mobile-none" src="{{ contents.image.url }}" height="100%" alt="{{ contents.category_1 }}">
                    <img class="max-height-600 image_large mobile-only" src="{{ contents.image.url }}" width="100%" alt="{{ contents.category_1 }}">
                </div>
            </div>
            <div class="row border-top-bottom padding-20 mrg-top-30">
                <div class="text-center">
                        {% for image in contents_images %}
                        <div style="display: none;">
                            <a {% if forloop.first %}id="slide-start"{% endif %} href="{{ image.image.url }}" class="lightbox-img"></a>
                        </div>
                        {% endfor %}
                        {% for image in contents_images %}
                        <span class="mobile-none">
                            {% if forloop.counter < 7 %}
                            <input type="radio" name="contents_images" value="{{ forloop.counter }}" id="{{ forloop.counter }}" style="display: none;" {% if forloop.first %}checked{% endif %}>
                            <label id="{{ forloop.counter }}_label" for="{{ forloop.counter }}"><img class="target-img" src="{{ image.image.url }}" width="150" height="150" alt="{{ image.contents.category_1 }}"></label>
                            {% elif forloop.counter == 7 %}
                            <img class="target-img pointer slide-start-trigger" src="{{ image.image.url }}" width="150" height="150" alt="{{ image.contents.category_1 }}" style="opacity: 0.4;">
                            {% endif %}
                        </span>
                        <span class="mobile-only">
                            {% if forloop.counter < 3 %}
                            <input type="radio" name="contents_images" value="{{ forloop.counter }}" id="{{ forloop.counter }}_2" style="display: none;" {% if forloop.first %}checked{% endif %}>
                            <label id="{{ forloop.counter }}_label_2" for="{{ forloop.counter }}_2"><img class="target-img" src="{{ image.image.url }}" width="85" height="85" alt="{{ image.contents.category_1 }}"></label>
                            {% elif forloop.counter == 3 %}
                            <img class="target-img pointer slide-start-trigger" src="{{ image.image.url }}" width="85" height="85" alt="{{ image.contents.category_1 }}" style="opacity: 0.4;">
                            {% endif %}
                        </span>
                        {% endfor %}
                </div>
            </div>
            <div class="row mrg-top-15 text-center">
                <h4 class="theme-color text-left mrg-btm-20 mrg-left-10">* 사진은 수정할 수 없습니다.</h4>
                <div class="col-xs-3 col-sm-2 no-pdd-right">
                    <div class="input-label">
                        <h3 class="mobile-none">카테고리</h3>
                        <h4 class="mobile-only">카테고리</h4>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 no-pdd-left">
                    {% bootstrap_field form.category_1 show_label=False form_group_class='col-xs-6 no-pdd-horizon' %}
                    {% bootstrap_field form.category_2 show_label=False form_group_class='col-xs-6 no-pdd-horizon' %}
                </div>
            </div>
            <div class="row mrg-top-15 text-center">
                <div class="col-xs-3 col-sm-2 no-pdd-right">
                    <div class="input-label">
                        <h3 class="mobile-none">Tag</h3>
                        <h4 class="mobile-only">Tag</h4>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 no-pdd-left">
                    {% bootstrap_field form.tags show_label=False show_help=False form_group_class='' %}
                </div>
            </div>
            <div class="mrg-top-50">
                {% bootstrap_field form.description show_label=False show_help=False form_group_class='' placeholder='이 사진을 어떻게 찍었는지 간단하게 설명해 주세요.' %}
            </div>
            <div class="row text-center">
                <input class="mrg-top-60 btn btn-md btn-round btn-theme-inverse-to-theme" type="submit" value="수정">
            </div>
        </form>
    </div>
</section>
{% bootstrap_form_errors form %}
{% endblock %}
{% block extrajs %}
<script>
    $('input[name="contents_images"]').on('change',function(){
        $('.image_large').attr({'src': $('input[name="contents_images"]:checked').next().children('.target-img').attr('src')});
    })
    $('.slide-start-trigger').on('click',function(){
        $('#slide-start').trigger('click');
    })
</script>
{% endblock %}