<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
콘텐츠 리스트
<hr/>
{% for contents in contents_list %}
<a href="{% url "contents:contents_detail" contents.id %}">{{ contents.user}} / {{contents.category_1}} / {{ contents.views }}</a>
<a class="like" href="{% url "preference:like_create" contents.id %}">좋아요/</a>
<a class="interest" href="{% url "preference:interest_create_contents" contents.id %}">/찜하기</a>
<hr/>
{% endfor %}
<br/>
<hr/>
<a href="{% url "contents:contents_create" %}">콘텐츠 등록하기</a>

<script>
    $(function() {
        $('.like').click(function() {
            $.get($(this).attr('href'))
            .done(function(response) {
                alert(response.message)
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response)
            });
            return false;
        });
    });
    $(function() {
        $('.interest').click(function() {
            $.get($(this).attr('href'))
            .done(function(response) {
                alert(response.message)
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response)
            });
            return false;
        });
    });
</script>