{% extends "base/base.html" %}
{% load static %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-100">
        <div class="row">
            <div class="col-xs-12">
                <img src="{{ contents.image.url }}" width="100%" alt="">
            </div>
        </div>
        <div class="row pdd-horizon-30 text-dark mrg-top-30">
            <div class="col-xs-6 text-left">
                <a class="btn btn-md btn-round btn-theme font-weight-bold" href="#">{{ contents.category_1 }}</a><a class="mrg-left-10 btn btn-md btn-round btn-theme font-weight-bold" href="">{{ contents.category_2 }}</a> <h4 class="theme-color">{{ contents.tags }}</h4>
            </div>
            <div class="col-xs-6 text-right">
                <h3>jjungbbinee <img class="mrg-right-15" src="{% static "images/like.png" %}" width="30" height="30" alt="">{{ contents.like_count }}</h3>
            </div>
        </div>
        <div class="row border-top-bottom padding-20 mrg-top-30">
            <div class="text-center">
                {% for image in contents.contentsimages_set.all %}
                <img src="{{ image.image.url }}" width="150" height="150" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="mrg-top-50 border-all padding-20 min-height-600">
            <h4>{{ contents.description }}</h4>
        </div>
        <div class="row text-center">
            <a class="mrg-top-60 btn btn-md btn-round btn-theme-inverse-to-theme" href=""><h3 class="text-white no-mrg-vertical padding-10">목록</h3></a>
        </div>
    </div>
</section>
{% endblock %}


콘텐츠 상세
<hr/>
{{ contents.user }}
<hr/>
{{ contents.category_1 }} / {{ contents.category_2 }}
<hr/>
{{ contents.tags }}
<hr/>
{{ contents.description }}
<hr/>
{{ contents.views }}
<br/>
<br/>
<br/>
<hr/>
<a href="{% url "contents:contents_update" contents.id %}">콘텐츠 수정</a>
<a href="{% url "contents:contents_list" %}">콘텐츠 목록</a>
<a href="{% url "website:home" %}">홈으로</a>