{% extends "base/base.html" %}
{% load static bootstrap3 %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-50">
        <div class="row">
            {% if request.path == '/contents/hot/list/' or request.path == '/contents/new/list/' %}
            <div class="col-xs-12">
                <h2>{{ category }}</h2>
            </div>
            {% elif request.path == '/contents/uploaded/' %}
            <div class="col-xs-12">
                <h2>{{ request.user.nickname }}님이 {{ category }}</h2>
            </div>
            {% else %}
            <div class="col-xs-7 col-md-2">
                <h2>{{ category.name }}</h2>
            </div>
            <div class="col-xs-5 col-md-offset-8 col-md-2 mrg-top-20 text-right">
                <a href="{% url "preference:interest_create_category" category.id %}" class="btn btn-md btn-round {% if category_is_interested %}btn-theme{% else %}btn-theme-inverse-to-theme{% endif %} interest">{% if category_is_interested %}찜하기 취소{% else %}{{ category }} 찜하기{% endif %}</a>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div id="contents_list" class="portfolio isotope row col-3 gutter-sm mrg-top-30">
                {% include 'contents/partials/contents_list/_contents_list.html' %}
            </div>
        </div>
        <div class="row text-center">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script>
    $(function() {
        $('.interest').click(function() {
            $.get($(this).attr('href'))
            .done(function(response) {
                alert(response.message);
                window.location.reload();
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response)
            });
            return false;
        });
    });
</script>
{% endblock %}