{% extends "base/base.html" %}
{% load static %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-50">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ category }}</h2>
            </div>
        </div>
        <div class="row">
            <div id="contents_list" class="portfolio isotope row col-3 gutter-sm mrg-top-30">
                {% include 'contents/partials/contents_list/_contents_list.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
