{% extends "base/base.html" %}
{% load static common %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-100">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img id="image_large" class="max-height-600" src="{{ contents.image.url }}" height="100%" alt="">
            </div>
        </div>
        <div class="row pdd-horizon-30 text-dark mrg-top-30">
            <div class="col-xs-6 text-left">
                <a class="btn btn-md btn-round btn-theme font-weight-bold" href="{% url "contents:contents_list" contents.category_1.id %}">{{ contents.category_1 }}</a>{% if contents.category_2 %}<a class="mrg-left-10 btn btn-md btn-round btn-theme font-weight-bold" href="{% url "contents:contents_list" contents.category_2.id %}">{{ contents.category_2 }}</a>{% endif %} <h4 class="theme-color">{% if contents.tags %}{{ contents.tags }}{% endif %}</h4>
            </div>
            <div class="col-xs-6 text-right">
                <h3>{{ contents.user.nickname }} <a class="like" href="{% url "preference:like_create" contents.id %}"><img class="mrg-right-15" src="{% static "images/like.png" %}" width="30" height="30" alt=""><span id="like_count" {% if contents.id in like_set_contents %}class="theme-color"{% endif %}>{{ contents.like_count }}</span></a><a class="interest mrg-left-15 btn btn-md btn-round {% if contents.id in interest_set_contents %}btn-theme{% else %}btn-theme-inverse-to-theme{% endif %} font-weight-bold" href="{% url "preference:interest_create_contents" contents.id %}">찜하기</a></h3>
            </div>
        </div>
        <div class="row border-top-bottom padding-20 mrg-top-30">
            <div class="text-center">
                {% for image in contents.contentsimages_set.all %}
                <div style="display: none;">
                    <a {% if forloop.counter == 7 %}id="slide-start"{% endif %} href="{{ image.image.url }}" class="lightbox-img"></a>
                </div>
                {% endfor %}
                {% for image in contents.contentsimages_set.all %}
                {% if forloop.counter < 7 %}
                <input type="radio" name="contents_images" value="{{ forloop.counter }}" id="{{ forloop.counter }}" style="display: none;" {% if forloop.first %}checked{% endif %}>
                <label id="{{ forloop.counter }}_label" for="{{ forloop.counter }}"><img class="target-img" src="{{ image.image.url }}" width="150" height="150" alt=""></label>
                {% elif forloop.counter == 7 %}
                <img class="target-img pointer slide-start-trigger" src="{{ image.image.url }}" width="150" height="150" alt="" style="opacity: 0.4;">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="mrg-top-50 border-all padding-20 min-height-600">
            <h4>{{ contents.description }}</h4>
        </div>
        <div class="row text-center">
            <a class="mrg-top-60 btn btn-md btn-round btn-theme-inverse-to-theme" href="{% url "website:home" %}"><h3 class="text-white no-mrg-vertical padding-10">홈으로</h3></a>
            <a class="mrg-top-60 btn btn-md btn-round btn-theme-inverse-to-theme" href="{% url "contents:contents_list" contents.category_1.id %}"><h3 class="text-white no-mrg-vertical padding-10">{{ contents.category_1 }} 목록</h3></a>
            {% if request.user == contents.user %}
            <a class="mrg-top-60 btn btn-md btn-round btn-theme-inverse-to-theme" href="{% url "contents:contents_update" contents.id %}"><h3 class="text-white no-mrg-vertical padding-10">수정</h3></a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script>
    $('input[name="contents_images"]').on('change',function(){
        $('#image_large').attr({'src': $('input[name="contents_images"]:checked').next().children('.target-img').attr('src')});
    })
    $('.slide-start-trigger').on('click',function(){
        $('#slide-start').trigger('click');
    })
    $(function() {
        $('.like').click(function() {
            $.get($(this).attr('href'))
            .done(function(html) {
                window.location.reload();
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response);
            });
            return false;
        });
    });
    $(function() {
        $('.interest').click(function() {
            $.get($(this).attr('href'))
            .done(function(response) {
                alert(response.message)
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response)
            });
            return false;
        });
    });
</script>
{% endblock %}