{% extends "base/base.html" %}
{% load static bootstrap3 %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "plugins/fileuploader/jquery.fileuploader-theme-thumbnails.css" %}">
{% endblock %}

{% block title %}
    <title>VLASOM :: 콘텐츠 등록</title>
{% endblock %}

{% block content %}
<section class="section-1">
    <div class="container mrg-top-100">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_field form.image show_label=False form_group_class='' %}
            <div class="row mrg-top-15 text-center">
                <div class="col-xs-3 col-sm-2 no-pdd-right">
                    <div class="input-label">
                        <h3 class="mobile-none">카테고리</h3>
                        <h4 class="mobile-only">카테고리</h4>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 no-pdd-left">
                    {% bootstrap_field form.category_1 show_label=False form_group_class='col-xs-6 no-pdd-horizon' %}
                    {% bootstrap_field form.category_2 show_label=False form_group_class='col-xs-6 no-pdd-horizon' %}
                </div>
            </div>
            <div class="row mrg-top-15 text-center">
                <div class="col-xs-3 col-sm-2 no-pdd-right">
                    <div class="input-label">
                        <h3 class="mobile-none">Tag</h3>
                        <h4 class="mobile-only">Tag</h4>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 no-pdd-left">
                    {% bootstrap_field form.tags show_label=False show_help=False form_group_class='' %}
                </div>
            </div>
            <div class="mrg-top-50">
                {% bootstrap_field form.description show_label=False show_help=False form_group_class='' placeholder='이 사진을 어떻게 찍었는지 간단하게 설명해 주세요.' %}
            </div>
            <div class="row text-center">
                <input class="mrg-top-60 btn btn-md btn-round btn-theme-inverse-to-theme" type="submit" value="업로드">
            </div>
        </form>
    </div>
</section>
{% bootstrap_form_errors form %}
{% endblock %}
{% block extrajs %}
<script>
    $('input[name="image"]').fileuploader({
        extensions: null,
		changeInput: ' ',
		theme: 'thumbnails',
        enableApi: true,
        addMore: true,
        inputNameBrackets: false,
		thumbnails: {
			box: '<div class="fileuploader-items">' +
                      '<ul class="fileuploader-items-list">' +
					      '<li class="fileuploader-thumbnails-input"><div class="fileuploader-thumbnails-input-inner"><i>+</i></div></li>' +
                      '</ul>' +
                  '</div>',
			item: '<li class="fileuploader-item file-has-popup">' +
				       '<div class="fileuploader-item-inner">' +
                           '<div class="type-holder">${extension}</div>' +
                           '<div class="actions-holder">' +
						   	   '<a class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i></i></a>' +
                           '</div>' +
                           '<div class="thumbnail-holder">' +
                               '${image}' +
                               '<span class="fileuploader-action-popup"></span>' +
                           '</div>' +
                           '<div class="content-holder"><h5>${name}</h5><span>${size2}</span></div>' +
                       	   '<div class="progress-holder">${progressBar}</div>' +
                       '</div>' +
                  '</li>',
			item2: '<li class="fileuploader-item file-has-popup">' +
				       '<div class="fileuploader-item-inner">' +
                           '<div class="type-holder">${extension}</div>' +
                           '<div class="actions-holder">' +
						   	   '<a href="${file}" class="fileuploader-action fileuploader-action-download" title="${captions.download}" download><i></i></a>' +
						   	   '<a class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i></i></a>' +
                           '</div>' +
                           '<div class="thumbnail-holder">' +
                               '${image}' +
                               '<span class="fileuploader-action-popup"></span>' +
                           '</div>' +
                           '<div class="content-holder"><h5>${name}</h5><span>${size2}</span></div>' +
                       	   '<div class="progress-holder">${progressBar}</div>' +
                       '</div>' +
                   '</li>',
			startImageRenderer: true,
            canvasImage: false,
			_selectors: {
				list: '.fileuploader-items-list',
				item: '.fileuploader-item',
				start: '.fileuploader-action-start',
				retry: '.fileuploader-action-retry',
				remove: '.fileuploader-action-remove'
			},
			onItemShow: function(item, listEl, parentEl, newInputEl, inputEl) {
				var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                    api = $.fileuploader.getInstance(inputEl.get(0));
				
                plusInput.insertAfter(item.html)[api.getOptions().limit && api.getChoosedFiles().length >= api.getOptions().limit ? 'hide' : 'show']();
				
				if(item.format == 'image') {
					item.html.find('.fileuploader-item-icon').hide();
				}
			}
		},
        dragDrop: {
			container: '.fileuploader-thumbnails-input'
		},
		afterRender: function(listEl, parentEl, newInputEl, inputEl) {
			var plusInput = listEl.find('.fileuploader-thumbnails-input'),
				api = $.fileuploader.getInstance(inputEl.get(0));
		
			plusInput.on('click', function() {
				api.open();
			});
		},
        onRemove: function(item, listEl, parentEl, newInputEl, inputEl) {
            var plusInput = listEl.find('.fileuploader-thumbnails-input'),
				api = $.fileuploader.getInstance(inputEl.get(0));
		
			if (api.getOptions().limit && api.getChoosedFiles().length - 1 < api.getOptions().limit)
                plusInput.show();
        },
		
        /*
		// while using upload option, please set
		// startImageRenderer: false
		// for a better effect
		upload: {
			url: './php/upload_file.php',
            data: null,
            type: 'POST',
            enctype: 'multipart/form-data',
            start: true,
            synchron: true,
            beforeSend: null,
            onSuccess: function(data, item) {
                item.html.find('.fileuploader-action-remove').addClass('fileuploader-action-success');
                
                
				setTimeout(function() {
					item.html.find('.progress-holder').hide();
					item.renderThumbnail();
                    
                    item.html.find('.fileuploader-action-popup, .fileuploader-item-image').show();
				}, 400);
            },
            onError: function(item) {
				item.html.find('.progress-holder, .fileuploader-action-popup, .fileuploader-item-image').hide();
            },
            onProgress: function(data, item) {
                var progressBar = item.html.find('.progress-holder');
				
                if(progressBar.length > 0) {
                    progressBar.show();
                    progressBar.find('.fileuploader-progressbar .bar').width(data.percentage + "%");
                }
                
                item.html.find('.fileuploader-action-popup, .fileuploader-item-image').hide();
            }
        },
		onRemove: function(item) {
			$.post('php/upload_remove.php', {
				file: item.name
			});
		}
        */
    });
</script>
{% endblock %}