{% load static %}
<section class="section-1">
    <div class="container text-center mrg-top-50">
        <h1 class="theme-color">My Profile</h1>
        <div class="row mrg-top-60">
            <div class="col-xs-12 col-md-5 profile-wrapper no-pdd">
                <img id="profile_image" src="{{ request.user.profile_image.url }}" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="input-label">
                            <h3>ID</h3>
                        </div>
                    </div>
                    <div class="col-xs-6 no-pdd-left">
                        <div class="input-box">
                            <h3>{{ request.user.login_id }}</h3>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="input-box-border-all text-center">
                            {% if request.user.gender == 'M' %}
                            <div style="background-image: url({% static 'images/male.png' %}); background-size: contain; background-position: center; background-repeat: no-repeat;">
                            </div>
                            {% else %}
                            <div style="background-image: url({% static 'images/female.png' %}); background-size: contain; background-position: center; background-repeat: no-repeat;">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mrg-top-15">
                    <div class="col-xs-4">
                        <div class="input-label">
                            <h3>Name</h3>
                        </div>
                    </div>
                    <div class="col-xs-8 no-pdd-left">
                        <div class="input-box">
                            <h3>{{ request.user.name }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row mrg-top-15">
                    <div class="col-xs-4">
                        <div class="input-label">
                            <h3>Nicname</h3>
                        </div>
                    </div>
                    <div class="col-xs-8 no-pdd-left">
                        <div class="input-box">
                            <h3>{{ request.user.nickname }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row mrg-top-15">
                    <div class="col-xs-4">
                        <div class="input-label">
                            <h3>E-mail</h3>
                        </div>
                    </div>
                    <div class="col-xs-8 no-pdd-left">
                        <div class="input-box">
                            <h3>{{ request.user.email }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row mrg-top-15">
                    <div class="col-xs-4">
                        <div class="input-label">
                            <h3>Birth</h3>
                        </div>
                    </div>
                    <div class="col-xs-8 no-pdd-left">
                        <div class="input-box">
                            <h3>{{ request.user.birth_year }}.{{ request.user.birth_month|stringformat:"02d" }}.{{ request.user.birth_day|stringformat:"02d" }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row mrg-top-15">
                    <div class="col-xs-12 text-right">
                        <a href="{% url "user_update" %}" class="btn btn-md btn-round btn-theme-inverse-to-theme">프로필 수정</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>