{% load static %}
{% for contents in contents_list %}
<a href="{% url "contents:contents_detail" contents.id %}" class="folio-item web-design">
    <div class="folio-style-2">
        <div class="folio-image">
            <img class="img-responsive" src="{{ contents.image.url }}" alt="{{ contents.category_1 }}">
        </div><!-- /folio-image -->
        <div class="row pdd-horizon-30 mrg-top-10 text-dark">
            <div class="col-xs-8">
                <p class="font-weight-bold">{{ contents.user.nickname }}<br/>
                <span class="theme-color">{{ contents.tags }}</span></p>
            </div>
            <div class="col-xs-4 text-right">
                <p class="mrg-top-10 font-weight-bold">
                    <img src="{% static "images/like.png" %}" width="30" height="30" alt="{{ contents.category_1 }}">
                    {{ contents.like_count }}
                </p>
            </div>
        </div>
    </div><!-- folio-style -->
</a><!-- /folio-item -->
{% empty %}
<h2>콘텐츠가 없습니다.</h2>
{% endfor %}
