{% extends "base/base_accounts.html" %}
{% load socialaccount static bootstrap3 %}

{% block accounts_body %}
<div class="pdd-vertical-40 pdd-horizon-40" style="background-image: url({% static 'images/accounts-bg3.png' %}); background-size: contain; background-repeat: no-repeat; background-position: center; min-height: 700px;">
    <div class="">
    <h3 class="theme-color"><img src="{% static "images/signup.png" %}" width="30" height="40" alt="signup"><br/>
        Register</h3>
    <form id="user_create_form" class="mrg-top-10" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5">
                <div class="input-label">
                    <h5>닉네임</h5>
                </div>
            </div>
            <div class="col-xs-6 no-pdd-left pdd-right-5">
                <input type="text" name="nickname" autocomplete="off" class="form-control" placeholder="닉네임" title="" required="" id="id_nickname">
            </div>
            <div class="col-xs-2 no-pdd-left">
                <div class="input-box-border-all text-center">
                    <input type="radio" name="gender" value="M" required id="id_gender_1">
                    <label id="gender_1_label" for="id_gender_1"><img src="{% static "images/male-before.png" %}" width="30" alt="male"></label>
                    <input type="radio" name="gender" value="F" required id="id_gender_2">
                    <label id="gender_2_label" for="id_gender_2"><img src="{% static "images/female-before.png" %}" width="30" alt="female"></label>
                </div>
            </div>
            <div class="col-xs-12 help-block">{{ form.nickname.errors }}</div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>이메일</h5>
                </div>
            </div>
            <div class="col-xs-8 no-pdd-left mrg-top-10">
                <input type="email" name="email" placeholder="이메일 주소" class="form-control" title="" required="" id="id_email">
            </div>
            <div class="col-xs-12 help-block">{{ form.email.errors }}</div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>Birth</h5>
                </div>
            </div>
            {% bootstrap_field form.birth_year show_label=False show_help=False form_group_class='col-xs-3 no-pdd-horizon mrg-top-10' %}
            {% bootstrap_field form.birth_month show_label=False show_help=False form_group_class='col-xs-3 no-pdd-horizon mrg-top-10' %}
            {% bootstrap_field form.birth_day show_label=False show_help=False form_group_class='col-xs-2 no-pdd-left mrg-top-10' %}
        </div>
        <div class="row text-left mrg-top-10">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <input type="checkbox" name="is_agreed_1" required id="id_is_agreed_1">
                <label id="is_agreed_1" for="id_is_agreed_1"><img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check"></label>
                <span class="font-weight-bold text-dark">이용약관과 개인정보처리방침에 동의합니다.</span>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <input type="checkbox" name="is_agreed_2" required id="id_is_agreed_2">
                <label id="is_agreed_2" for="id_is_agreed_2"><img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check"></label>
                <span class="font-weight-bold text-dark">마케팅 정보 활용에 동의합니다.</span>
            </div>
        </div>
        <button id="user_create_btn" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
            <h5 style="color: inherit; mrg-vertical-5">Join</h5>
        </button>
    </form>
</div>
</div>
{% bootstrap_form_errors form %}
{% endblock %}

{% block accounts_body_mobile %}
<div class="pdd-vertical-40 pdd-horizon-40 text-center">
    <h3 class="theme-color"><img src="{% static "images/signup.png" %}" width="30" height="40" alt="signup"><br/>
        Register</h3>
    <form id="user_create_form_2" class="mrg-top-10" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-sm-offset-1 pdd-right-5">
                <div class="input-label">
                    <h5>닉네임</h5>
                </div>
            </div>
            <div class="col-xs-4 col-sm-6 no-pdd-left pdd-right-5">
                <input type="text" name="nickname" placeholder="Nickname" maxlength="50" class="form-control" title="" required="" id="id_nickname_2">
            </div>
            <div class="col-xs-5 col-sm-2 no-pdd-left">
                <div class="input-box-border-all text-center">
                    <input type="radio" name="gender" value="M" required id="id_gender_1_2">
                    <label id="gender_1_label_2" for="id_gender_1_2"><img src="{% static "images/male-before.png" %}" width="30" alt="male"></label>
                    <input type="radio" name="gender" value="F" required id="id_gender_2_2">
                    <label id="gender_2_label_2" for="id_gender_2_2"><img src="{% static "images/female-before.png" %}" width="30" alt="female"></label>
                </div>
            </div>
            <div class="col-xs-12 help-block">{{ form.nickname.errors }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-sm-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>이메일</h5>
                </div>
            </div>
            <div class="col-xs-9 col-sm-8 no-pdd-left mrg-top-10">
                <input type="email" name="email" placeholder="example@email.com" maxlength="254" class="form-control" title="" required="" id="id_email_2">
            </div>
            <div class="col-xs-12 help-block">{{ form.email.errors }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-sm-offset-1 pdd-right-5 mrg-top-10">
                <div class="input-label">
                    <h5>Birth</h5>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 no-pdd-horizon mrg-top-10">
                <select name="birth_year" class="form-control" title id="id_birth_year_2">
                        <option value="2018" selected>2018년</option>

                        <option value="2017">2017년</option>
                      
                        <option value="2016">2016년</option>
                      
                        <option value="2015">2015년</option>
                      
                        <option value="2014">2014년</option>
                      
                        <option value="2013">2013년</option>
                      
                        <option value="2012">2012년</option>
                      
                        <option value="2011">2011년</option>
                      
                        <option value="2010">2010년</option>
                      
                        <option value="2009">2009년</option>
                      
                        <option value="2008">2008년</option>
                      
                        <option value="2007">2007년</option>
                      
                        <option value="2006">2006년</option>
                      
                        <option value="2005">2005년</option>
                      
                        <option value="2004">2004년</option>
                      
                        <option value="2003">2003년</option>
                      
                        <option value="2002">2002년</option>
                      
                        <option value="2001">2001년</option>
                      
                        <option value="2000">2000년</option>
                      
                        <option value="1999">1999년</option>
                      
                        <option value="1998">1998년</option>
                      
                        <option value="1997">1997년</option>
                      
                        <option value="1996">1996년</option>
                      
                        <option value="1995">1995년</option>
                      
                        <option value="1994">1994년</option>
                      
                        <option value="1993">1993년</option>
                      
                        <option value="1992">1992년</option>
                      
                        <option value="1991">1991년</option>
                      
                        <option value="1990">1990년</option>
                      
                        <option value="1989">1989년</option>
                      
                        <option value="1988">1988년</option>
                      
                        <option value="1987">1987년</option>
                      
                        <option value="1986">1986년</option>
                      
                        <option value="1985">1985년</option>
                      
                        <option value="1984">1984년</option>
                      
                        <option value="1983">1983년</option>
                      
                        <option value="1982">1982년</option>
                      
                        <option value="1981">1981년</option>
                      
                        <option value="1980">1980년</option>
                      
                        <option value="1979">1979년</option>
                      
                        <option value="1978">1978년</option>
                      
                        <option value="1977">1977년</option>
                      
                        <option value="1976">1976년</option>
                      
                        <option value="1975">1975년</option>
                      
                        <option value="1974">1974년</option>
                      
                        <option value="1973">1973년</option>
                      
                        <option value="1972">1972년</option>
                      
                        <option value="1971">1971년</option>
                      
                        <option value="1970">1970년</option>
                      
                        <option value="1969">1969년</option>
                      
                        <option value="1968">1968년</option>
                      
                        <option value="1967">1967년</option>
                      
                        <option value="1966">1966년</option>
                      
                        <option value="1965">1965년</option>
                      
                        <option value="1964">1964년</option>
                      
                        <option value="1963">1963년</option>
                      
                        <option value="1962">1962년</option>
                      
                        <option value="1961">1961년</option>
                      
                        <option value="1960">1960년</option>
                      
                        <option value="1959">1959년</option>
                      
                        <option value="1958">1958년</option>
                      
                        <option value="1957">1957년</option>
                      
                        <option value="1956">1956년</option>
                      
                        <option value="1955">1955년</option>
                      
                        <option value="1954">1954년</option>
                      
                        <option value="1953">1953년</option>
                      
                        <option value="1952">1952년</option>
                      
                        <option value="1951">1951년</option>
                      
                        <option value="1950">1950년</option>
                      
                        <option value="1949">1949년</option>
                      
                        <option value="1948">1948년</option>
                      
                        <option value="1947">1947년</option>
                      
                        <option value="1946">1946년</option>
                      
                        <option value="1945">1945년</option>
                      
                        <option value="1944">1944년</option>
                      
                        <option value="1943">1943년</option>
                      
                        <option value="1942">1942년</option>
                      
                        <option value="1941">1941년</option>
                      
                        <option value="1940">1940년</option>
                      
                        <option value="1939">1939년</option>
                      
                        <option value="1938">1938년</option>
                      
                        <option value="1937">1937년</option>
                      
                        <option value="1936">1936년</option>
                      
                        <option value="1935">1935년</option>
                      
                        <option value="1934">1934년</option>
                      
                        <option value="1933">1933년</option>
                      
                        <option value="1932">1932년</option>
                      
                        <option value="1931">1931년</option>
                      
                        <option value="1930">1930년</option>
                      
                        <option value="1929">1929년</option>
                      
                        <option value="1928">1928년</option>
                      
                        <option value="1927">1927년</option>
                      
                        <option value="1926">1926년</option>
                      
                        <option value="1925">1925년</option>
                      
                        <option value="1924">1924년</option>
                      
                        <option value="1923">1923년</option>
                      
                        <option value="1922">1922년</option>
                      
                        <option value="1921">1921년</option>
                      
                        <option value="1920">1920년</option>
                      
                        <option value="1919">1919년</option>
                </select>
            </div>
            <div class="col-xs-3 col-sm-3 no-pdd-horizon mrg-top-10">
                <select name="birth_month" class="form-control" title id="id_birth_month_2">
                        <option value="1" selected>1월</option>

                        <option value="2">2월</option>
                      
                        <option value="3">3월</option>
                      
                        <option value="4">4월</option>
                      
                        <option value="5">5월</option>
                      
                        <option value="6">6월</option>
                      
                        <option value="7">7월</option>
                      
                        <option value="8">8월</option>
                      
                        <option value="9">9월</option>
                      
                        <option value="10">10월</option>
                      
                        <option value="11">11월</option>
                      
                        <option value="12">12월</option>
                </select>
            </div>
            <div class="col-xs-3 col-sm-2 no-pdd-left mrg-top-10">
                <select name="birth_day" class="form-control" title id="id_birth_day_2">
                        <option value="1" selected>1일</option>

                        <option value="2">2일</option>
                      
                        <option value="3">3일</option>
                      
                        <option value="4">4일</option>
                      
                        <option value="5">5일</option>
                      
                        <option value="6">6일</option>
                      
                        <option value="7">7일</option>
                      
                        <option value="8">8일</option>
                      
                        <option value="9">9일</option>
                      
                        <option value="10">10일</option>
                      
                        <option value="11">11일</option>
                      
                        <option value="12">12일</option>
                      
                        <option value="13">13일</option>
                      
                        <option value="14">14일</option>
                      
                        <option value="15">15일</option>
                      
                        <option value="16">16일</option>
                      
                        <option value="17">17일</option>
                      
                        <option value="18">18일</option>
                      
                        <option value="19">19일</option>
                      
                        <option value="20">20일</option>
                      
                        <option value="21">21일</option>
                      
                        <option value="22">22일</option>
                      
                        <option value="23">23일</option>
                      
                        <option value="24">24일</option>
                      
                        <option value="25">25일</option>
                      
                        <option value="26">26일</option>
                      
                        <option value="27">27일</option>
                      
                        <option value="28">28일</option>
                      
                        <option value="29">29일</option>
                      
                        <option value="30">30일</option>
                      
                        <option value="31">31일</option>
                </select>
            </div>
        </div>
        <div class="row text-left mrg-top-10">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <input type="checkbox" name="is_agreed_1" required id="id_is_agreed_1_2">
                <label id="is_agreed_1_2" for="id_is_agreed_1_2"><img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check"></label>
                <span class="font-weight-bold text-dark font-size-11">이용약관과 개인정보처리방침에 동의합니다.</span>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <input type="checkbox" name="is_agreed_2" required id="id_is_agreed_2_2">
                <label id="is_agreed_2_2" for="id_is_agreed_2_2"><img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check"></label>
                <span class="font-weight-bold text-dark font-size-11">마케팅 정보 활용에 동의합니다.</span>
            </div>
        </div>
        <button id="user_create_btn_2" class="btn btn-md btn-round btn-theme-inverse2 no-pdd-vertical mrg-top-10 mrg-btm-20" type="submit">
            <h5 style="color: inherit; mrg-vertical-5">Join</h5>
        </button>
    </form>
</div>
{% endblock %}


{% block extrajs %}
<script>
    $('#id_birth_year').addClass('border-left-none');
    $('#id_birth_year_2').addClass('border-left-none');
    $('input:radio[name="gender"]').on('change', function(){
        if($('#id_gender_1').is(':checked')){
            $('#gender_1_label').html('<img src="{% static "images/male.png" %}" width="30" alt="male">');
        }
        else{
            $('#gender_1_label').html('<img src="{% static "images/male-before.png" %}" width="30" alt="male">');
        }
        if($('#id_gender_1_2').is(':checked')){
            $('#gender_1_label_2').html('<img src="{% static "images/male.png" %}" width="30" alt="male">');
        }
        else{
            $('#gender_1_label_2').html('<img src="{% static "images/male-before.png" %}" width="30" alt="male">');
        }
        if($('#id_gender_2').is(':checked')){
            $('#gender_2_label').html('<img src="{% static "images/female.png" %}" width="30" alt="female">');
        }
        else{
            $('#gender_2_label').html('<img src="{% static "images/female-before.png" %}" width="30" alt="female">');
        }
        if($('#id_gender_2_2').is(':checked')){
            $('#gender_2_label_2').html('<img src="{% static "images/female.png" %}" width="30" alt="female">');
        }
        else{
            $('#gender_2_label_2').html('<img src="{% static "images/female-before.png" %}" width="30" alt="female">');
        }
    });
    $('input:checkbox[name="is_agreed_1"]').on('change', function(){
        if($('#id_is_agreed_1').is(':checked')){
            $('#is_agreed_1').html('<img src="{% static "images/checked.png" %}" width="20" height="20" alt="check">');
        }
        else{
            $('#is_agreed_1').html('<img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check">');
        }
        if($('#id_is_agreed_1_2').is(':checked')){
            $('#is_agreed_1_2').html('<img src="{% static "images/checked.png" %}" width="20" height="20" alt="check">');
        }
        else{
            $('#is_agreed_1_2').html('<img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check">');
        }
    });
    $('input:checkbox[name="is_agreed_2"]').on('change', function(){
        if($('#id_is_agreed_2').is(':checked')){
            $('#is_agreed_2').html('<img src="{% static "images/checked.png" %}" width="20" height="20" alt="check">');
        }
        else{
            $('#is_agreed_2').html('<img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="chceck">');
        }
        if($('#id_is_agreed_2_2').is(':checked')){
            $('#is_agreed_2_2').html('<img src="{% static "images/checked.png" %}" width="20" height="20" alt="check">');
        }
        else{
            $('#is_agreed_2_2').html('<img src="{% static "images/checked-before.png" %}" width="20" height="20" alt="check">');
        }
    });
    
    $('#user_create_btn').on('click', function(e){
        e.preventDefault();
        if (!$('input[name="gender"]').is(':checked')){
            alert('성별을 선택해 주세요.');
        }
        if (!($('#id_is_agreed_1').is(":checked") && $('#id_is_agreed_2').is(":checked"))){
            alert('약관에 동의해 주세요.');
        }
        if ($('input[name="gender"]').is(':checked') && $('#id_is_agreed_1').is(":checked") && $('#id_is_agreed_2').is(":checked")) {
            $('#user_create_form').submit();
        }
    })
    $('#user_create_btn_2').on('click', function(e){
        e.preventDefault();
        if (!$('input[name="gender"]').is(':checked')){
            alert('성별을 선택해 주세요.');
        }
        if (!($('#id_is_agreed_1_2').is(":checked") && $('#id_is_agreed_2_2').is(":checked"))){
            alert('약관에 동의해 주세요.');
        }
        if ($('input[name="gender"]').is(':checked') && $('#id_is_agreed_1_2').is(":checked") && $('#id_is_agreed_2_2').is(":checked")) {
            $('#user_create_form_2').submit();
        }
    })
</script>
{% endblock %}
